.content-signle {
  .entry-content {
    >* {
      @apply container;
    }

    :where(.wp-block-columns.is-layout-flex) {
      @apply gap-[10px];
    }

    >p {
      min-height: 0.1px;
    }

    >figure {
      img {
        width: 100%;
      }
    }

    .wp-block-columns {
      .wp-block-column {
        .wp-block-image {
          margin-bottom: 0;
        }

        figure+figure {
          margin-top: 10px;
        }
      }
    }
  }

  &-notice .entry-content {
    >*:not(figure) {
      @apply container;

      @media screen and (min-width: theme('screens.lg')) {
        @apply max-w-[800px];
      }
    }
  }
}
