.headroom {
  will-change: transform;
  transition: transform 200ms linear;


  &--pinned {
    transform: translateY(-0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}

body {
  --gnb-h: 90px;
  --topAreaHeight: calc(var(--gnb-h) + var(--wp-bar, 0px));
}

header#gnb {
  height: var(--gnb-h);
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  font-size: 1.125rem;

  &.headroom {
    @apply bg-black;

    &--top {
      @apply bg-transparent;
    }

    &--pinned {
      transform: translateY(-0%);
    }

    &--unpinned {
      transform: translateY(-100%);
    }
  }
}

.header__nav {
  a {
    @apply uppercase
  }

  .menu-item-has-children {
    @apply flex flex-col gap-y-[43px];

    >a {
      @apply cursor-default pointer-events-none;
      font-size: 28px;
      font-weight: bold;
    }

    >.sub-menu {
      @apply flex flex-col gap-y-[0.8em];

      font-size: 18px;

      a[href='#'] {
        @apply cursor-default opacity-25 pointer-events-none;
      }
    }
  }

}
