name: π› ν”„λ΅λ•μ… λ°°ν¬
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: π› μ†μ¤μ½”λ“ μ—…λ°μ΄νΈ & λΉλ“νμΌ λ°°ν¬
    steps:
      - uses: actions/checkout@v3

      - name: π— setup-node (v18.x)
        uses: actions/setup-node@v2
        with:
          node-version: "18.x"
      
      - name: theme, packages tailwind yarn link
        run: |
          cd packages/tailwindcss
          yarn link
          cd ../../theme
          yarn link "@hyundai-it/tailwindcss"

      - name: π”¨ (node dependencies) theme yarn build
        run: |
          cd theme
          yarn
          yarn install

      - name: π”¨ (node dependencies) monorepo yarn workspace build
        run: |
          yarn
          yarn workspace homepage build
          yarn workspace forms build

      # Caching dependencies for faster builds
      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

      - name: π”¨ (php dependencies) php composer install
        uses: php-actions/composer@v6
        with:
          php_version: "8.0"
          args: --working-dir=./theme
          command: install

      - name: π“‚ Sync files to Server
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -avzr --delete --exclude="node_modules"
          # ARGS: "-rltgoDzvO --ignore-times"
          path: theme/
          remote_path: /www/hyeondaeaiti_570/public/wp-content/themes/main
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
          remote_port: ${{ secrets.DEPLOY_PORT }}

  noti:
    name: π¦… λΉλ“ κ²°κ³Ό λ…Έν‹°
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.actor }} created commit:
            Commit message: ${{ github.event.commits[0].message }}
            
            Repository: ${{ github.repository }}
            
            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}

      - name: π› μ¬λ™μ•λ¦Ό
        uses: 8398a7/action-slack@v3
        with:
          job_name: π› μ†μ¤μ½”λ“ μ—…λ°μ΄νΈ & λΉλ“νμΌ λ°°ν¬
          status: ${{ job.status }}
          fields: repo,message,author,workflow,took,job # selectable (default: repo,message)
          # fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.PETEROSEA_SLACK_WEBHOOK_URL }} # required
        if: always()
